#censusmap {
	height: 100vh;
}

#key {
	padding: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.leaflet-bar {
	background-color: rgba(255, 255, 255, 0.75);
}

.leaflet-div-icon {
	background: none;
	border: none;
}

.cluster-marker {
	border-radius: 100px;
	text-align: center;
	font-size: 1.3em;
}

.facebook-marker {
	color: #fff;
	background-color: #3b5998;
	border: 3px solid #9cabcb;
}
