#censusmap {
	height: 100vh;
}

.leaflet-div-icon {
	background: none;
	border: none;
}

.cluster-marker {
	border-radius: 100px;
	text-align: center;
	font-size: 1.3em;
}

.twitter-marker {
	color: #fff;
	background-color: #55acee;
	border: 3px solid #a9d5f6;
}

.facebook-marker {
	color: #fff;
	background-color: #3b5998;
	border: 3px solid #9cabcb;
}
